<% layout('layouts/boilerplate') %>

<h1>All Campgrounds</h1>

<a href="/campgrounds/new">
    <button>Create campground</button>
</a>

<ul>
    <% for(let camp of campgrounds) {%>
        <li><a href="/campgrounds/<%= camp.id %>">
                <%= camp.title %>
            </a></li>
        <% } %>
</ul>