<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show campground</title>
</head>
<body>
    <h1>Show Campground</h1>
    <h2><%= campground.title  %></h2>
    <h3><%= campground.location  %></h3>

    <form action="/campgrounds/"></form>
</body>
</html>